{
    "openapi": "3.0.0",
    "info": {
        "title": "Pengumuman API",
        "description": "API untuk mengelola pengumuman",
        "contact": {
            "name": "API Support",
            "email": "admin@example.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "user@email.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Email atau password salah"
                    }
                }
            }
        },
        "/api/register-orangtua": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register user orang tua",
                "operationId": "65f264bd13dd992ed0859993aea150a5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "nik"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Nama Orang Tua"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "ortu@email.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "password"
                                    },
                                    "nik": {
                                        "type": "string",
                                        "example": "1234567890123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registrasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NIK tidak ditemukan pada data siswa"
                    },
                    "409": {
                        "description": "Email atau NIK sudah terdaftar"
                    }
                }
            }
        },
        "/api/auth/register-siswa": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register akun siswa baru",
                "operationId": "e5793b5601f8c9e0f3ff84849cbc4c7f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "jenis_kelamin",
                                    "no_hp",
                                    "kode_unit"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Ahmad Fauzi"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "siswa@email.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "jenis_kelamin": {
                                        "type": "string",
                                        "enum": [
                                            "L",
                                            "P"
                                        ],
                                        "example": "L"
                                    },
                                    "no_hp": {
                                        "type": "string",
                                        "example": "08123456789"
                                    },
                                    "kode_unit": {
                                        "type": "string",
                                        "example": "U01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registrasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Registrasi berhasil"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "no_register": {
                                                            "type": "string",
                                                            "example": "OLU0125X"
                                                        },
                                                        "nama_lengkap": {
                                                            "type": "string",
                                                            "example": "Ahmad Fauzi"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "siswa@email.com"
                                                        },
                                                        "jenis_kelamin": {
                                                            "type": "string",
                                                            "example": "L"
                                                        },
                                                        "no_hp": {
                                                            "type": "string",
                                                            "example": "08123456789"
                                                        },
                                                        "kode_unit": {
                                                            "type": "string",
                                                            "example": "U01"
                                                        },
                                                        "kode_ta": {
                                                            "type": "string",
                                                            "example": "2025"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "token_autentikasi"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/change-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Ubah password user",
                "description": "Endpoint untuk mengubah password user yang sedang login. Memerlukan autentikasi Bearer token.",
                "operationId": "58e67cdbde52513b62902b05abf9abcb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "description": "Password saat ini user",
                                        "type": "string",
                                        "example": "password_lama"
                                    },
                                    "new_password": {
                                        "description": "Password baru (minimal 6 karakter)",
                                        "type": "string",
                                        "minLength": 6,
                                        "example": "password_baru"
                                    },
                                    "new_password_confirmation": {
                                        "description": "Konfirmasi password baru",
                                        "type": "string",
                                        "example": "password_baru"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password berhasil diubah",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password berhasil diubah"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Password saat ini salah atau token tidak valid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password saat ini salah"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "current_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Password saat ini wajib diisi"
                                                    }
                                                },
                                                "new_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Password baru wajib diisi"
                                                    }
                                                },
                                                "new_password_confirmation": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Konfirmasi password baru tidak cocok"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/public/gallery/albums": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "Ambil daftar album galeri beserta jumlah foto",
                "operationId": "fdf60c46c4821d31ab91f9f069d0e861",
                "responses": {
                    "200": {
                        "description": "Daftar album",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "title": {
                                                "type": "string",
                                                "example": "Kegiatan Pramuka"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Dokumentasi pramuka 2025"
                                            },
                                            "cover_url": {
                                                "type": "string",
                                                "example": "https://domain.com/storage/gallery/covers/cover.jpg"
                                            },
                                            "photos_count": {
                                                "type": "integer",
                                                "example": 12
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/public/gallery/albums/{id}": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "Ambil detail album beserta daftar foto",
                "operationId": "dcae6f58cb5fccd40fec6c1b45a08b64",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID album",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail album",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Kegiatan Pramuka"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Dokumentasi pramuka 2025"
                                        },
                                        "cover_url": {
                                            "type": "string",
                                            "example": "https://domain.com/storage/gallery/covers/cover.jpg"
                                        },
                                        "photos": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Upacara pembukaan",
                                                        "nullable": true
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "example": "https://domain.com/storage/gallery/photos/photo.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Album tidak ditemukan"
                    }
                }
            }
        },
        "/karyawan/aktif": {
            "get": {
                "tags": [
                    "Karyawan"
                ],
                "summary": "Ambil daftar karyawan aktif",
                "operationId": "20ed503182381e898c1a086e55044885",
                "parameters": [
                    {
                        "name": "nama",
                        "in": "query",
                        "description": "Filter berdasarkan nama karyawan (partial match)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "John"
                        }
                    },
                    {
                        "name": "unit",
                        "in": "query",
                        "description": "Filter berdasarkan kode unit",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "U01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil ambil daftar karyawan aktif",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "npp": {
                                                        "type": "string",
                                                        "example": "K001"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "jabatan": {
                                                        "type": "string",
                                                        "example": "Guru"
                                                    },
                                                    "nama_unit": {
                                                        "type": "string",
                                                        "example": "SMP"
                                                    },
                                                    "foto": {
                                                        "type": "string",
                                                        "example": "http://example.com/storage/photos/karyawan/photo.jpg"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pendaftaran-got-talent/konfirmasi-pembayaran": {
            "post": {
                "tags": [
                    "Konfirmasi Pembayaran Got Talent"
                ],
                "summary": "Kirim konfirmasi pembayaran",
                "description": "Endpoint untuk mengirim konfirmasi pembayaran Al Amin Got Talent. User harus sudah terdaftar dan memiliki pendaftaran aktif.",
                "operationId": "d39c2acd36893a018f494f5597f8e814",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "tanggal_pembayaran",
                                    "jumlah_pembayaran",
                                    "metode_pembayaran",
                                    "bukti_pembayaran"
                                ],
                                "properties": {
                                    "tanggal_pembayaran": {
                                        "description": "Tanggal pembayaran (tidak boleh lebih dari hari ini)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-01-15"
                                    },
                                    "jumlah_pembayaran": {
                                        "description": "Jumlah pembayaran (minimal 1)",
                                        "type": "number",
                                        "format": "float",
                                        "example": 50000
                                    },
                                    "metode_pembayaran": {
                                        "description": "Metode pembayaran",
                                        "type": "string",
                                        "enum": [
                                            "transfer",
                                            "tunai"
                                        ],
                                        "example": "transfer"
                                    },
                                    "bukti_pembayaran": {
                                        "description": "File bukti pembayaran (JPG, PNG, PDF, maksimal 5MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "keterangan": {
                                        "description": "Keterangan tambahan (opsional)",
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Transfer dari BCA"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Konfirmasi pembayaran berhasil dikirim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KonfirmasiPembayaranResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data pendaftaran tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal atau sudah ada konfirmasi yang sedang diproses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pendaftaran-got-talent/get-konfirmasi-pembayaran": {
            "get": {
                "tags": [
                    "Konfirmasi Pembayaran Got Talent"
                ],
                "summary": "Ambil konfirmasi pembayaran user",
                "description": "Endpoint untuk mengambil data konfirmasi pembayaran terbaru dari user yang sedang login",
                "operationId": "195f7c6a58f0310ee2d35605f454f688",
                "responses": {
                    "200": {
                        "description": "Data konfirmasi pembayaran berhasil diambil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/KonfirmasiPembayaran"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data pendaftaran atau konfirmasi pembayaran tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/konfirmasi-pembayaran-got-talent/{id}/status": {
            "put": {
                "tags": [
                    "Konfirmasi Pembayaran Got Talent"
                ],
                "summary": "Update status konfirmasi pembayaran (Admin)",
                "description": "Endpoint untuk admin mengupdate status konfirmasi pembayaran (diverifikasi/ditolak)",
                "operationId": "8779a34db8a2bff703b384f1ea3b835f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID konfirmasi pembayaran",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "description": "Status baru",
                                        "type": "string",
                                        "enum": [
                                            "diverifikasi",
                                            "ditolak"
                                        ],
                                        "example": "diverifikasi"
                                    },
                                    "catatan_admin": {
                                        "description": "Catatan dari admin (opsional)",
                                        "type": "string",
                                        "maxLength": 500,
                                        "example": "Pembayaran sudah diterima"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status berhasil diupdate",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Status konfirmasi pembayaran berhasil diupdate"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/KonfirmasiPembayaran"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Konfirmasi pembayaran tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/konfirmasi-pembayaran-got-talent": {
            "get": {
                "tags": [
                    "Konfirmasi Pembayaran Got Talent"
                ],
                "summary": "List semua konfirmasi pembayaran (Admin)",
                "description": "Endpoint untuk admin melihat semua konfirmasi pembayaran dengan filter dan pagination",
                "operationId": "01006a2d143c916612811cb666c35242",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter berdasarkan status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "diverifikasi",
                                "ditolak"
                            ],
                            "example": "pending"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search berdasarkan nama, email, atau nomor register",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "Ahmad"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Halaman",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List konfirmasi pembayaran berhasil diambil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/KonfirmasiPembayaran"
                                                    }
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 75
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/public/pages/{slug}": {
            "get": {
                "tags": [
                    "Page"
                ],
                "summary": "Ambil data halaman berdasarkan slug",
                "operationId": "1c9f2bb04eba33cddae91d9e8718d931",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug halaman (contoh: tentang-pesantren)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "tentang-pesantren"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil mengambil data halaman",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data halaman berhasil diambil"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Tentang Pesantren"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "tentang-pesantren"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "<p>Konten halaman...</p>"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Halaman tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Halaman tidak ditemukan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/unit-by-id-siswa": {
            "post": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Dapatkan data unit berdasarkan id_siswa",
                "operationId": "6a17193da56cd7ac5e1038af93cd07f3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_siswa"
                                ],
                                "properties": {
                                    "id_siswa": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Berhasil ambil data unit",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "no_pendaftaran": {
                                                "type": "string"
                                            },
                                            "nama_unit": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/siswa-by-id-siswa": {
            "get": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Ambil data siswa berdasarkan id_siswa",
                "operationId": "1710b7a5d6fa6a19430b0d867508fcd3",
                "parameters": [
                    {
                        "name": "id_siswa",
                        "in": "query",
                        "description": "ID Siswa",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil ambil data siswa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parameter id_siswa wajib diisi"
                    }
                }
            }
        },
        "/getrencanaspp-by-kodebiaya": {
            "get": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Ambil rencana spp berdasarkan kode_biaya",
                "operationId": "9a31f74725ba1a3e906eed2699ec7a43",
                "parameters": [
                    {
                        "name": "kode_biaya",
                        "in": "query",
                        "description": "Kode biaya",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil ambil rencana spp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gethistoribayar-by-idsiswa": {
            "get": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Ambil histori pembayaran berdasarkan id_siswa",
                "operationId": "6ea685d72e3c80419c6ebaaafa78941a",
                "parameters": [
                    {
                        "name": "id_siswa",
                        "in": "query",
                        "description": "ID Siswa",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil ambil histori pembayaran",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getdetailhistoribayar": {
            "get": {
                "tags": [
                    "Pendaftaran"
                ],
                "summary": "Ambil detail histori pembayaran berdasarkan no_bukti",
                "operationId": "c04f771d3b0d1875d6b697b8ab73c92d",
                "parameters": [
                    {
                        "name": "no_bukti",
                        "in": "query",
                        "description": "Nomor bukti pembayaran",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil ambil detail histori pembayaran",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pendaftaran-got-talent/register": {
            "post": {
                "tags": [
                    "Pendaftaran Got Talent"
                ],
                "summary": "Daftar Al Amin Got Talent",
                "description": "Register pendaftaran Al Amin Got Talent",
                "operationId": "9e01a2ca2fa3a140633e8e4ee3a243f6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_lengkap",
                                    "id_jenjang",
                                    "asal_sekolah",
                                    "alamat_sekolah",
                                    "alamat_rumah",
                                    "no_hp",
                                    "email",
                                    "perlombaan",
                                    "password"
                                ],
                                "properties": {
                                    "nama_lengkap": {
                                        "type": "string",
                                        "example": "Ahmad Fauzi"
                                    },
                                    "id_jenjang": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "asal_sekolah": {
                                        "type": "string",
                                        "example": "SD Al Amin"
                                    },
                                    "alamat_sekolah": {
                                        "type": "string",
                                        "example": "Jl. Raya No. 123"
                                    },
                                    "alamat_rumah": {
                                        "type": "string",
                                        "example": "Jl. Rumah No. 456"
                                    },
                                    "no_hp": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "ahmad@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "perlombaan": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registrasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/RegisterResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pendaftaran-got-talent/my-pendaftaran": {
            "get": {
                "tags": [
                    "Pendaftaran Got Talent"
                ],
                "summary": "Ambil data pendaftaran user yang login",
                "description": "Get pendaftaran by user yang sedang login",
                "operationId": "19819c595171a48cc6f82981781e259d",
                "responses": {
                    "200": {
                        "description": "Data pendaftaran berhasil diambil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PendaftaranGotTalent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data pendaftaran tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pendaftaran-got-talent/update": {
            "put": {
                "tags": [
                    "Pendaftaran Got Talent"
                ],
                "summary": "Update data pendaftaran",
                "description": "Update pendaftaran",
                "operationId": "f47aa4d637cc09a6f8bc8731ee044f61",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama_lengkap": {
                                        "type": "string",
                                        "example": "Ahmad Fauzi"
                                    },
                                    "id_jenjang": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "asal_sekolah": {
                                        "type": "string",
                                        "example": "SD Al Amin"
                                    },
                                    "alamat_sekolah": {
                                        "type": "string",
                                        "example": "Jl. Raya No. 123"
                                    },
                                    "alamat_rumah": {
                                        "type": "string",
                                        "example": "Jl. Rumah No. 456"
                                    },
                                    "no_hp": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "perlombaan": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Data berhasil diupdate",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data berhasil diupdate"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PendaftaranGotTalent"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data pendaftaran tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pendaftaran-got-talent/jenjang-pendidikan": {
            "get": {
                "tags": [
                    "Pendaftaran Got Talent"
                ],
                "summary": "Ambil list jenjang pendidikan",
                "description": "Mengambil semua data jenjang pendidikan yang tersedia untuk pendaftaran Got Talent",
                "operationId": "f88cad0ff957a94003e15211b7fccaff",
                "responses": {
                    "200": {
                        "description": "List jenjang pendidikan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "jenjang_pendidikan": {
                                                        "type": "string",
                                                        "example": "SD"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/public/jenjang-pendidikan": {
            "get": {
                "tags": [
                    "Public API"
                ],
                "summary": "Ambil list jenjang pendidikan (Public)",
                "description": "Mengambil semua data jenjang pendidikan yang tersedia (Public API)",
                "operationId": "bd593b9e880c33d671bbaabaa873d35d",
                "responses": {
                    "200": {
                        "description": "List jenjang pendidikan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "jenjang_pendidikan": {
                                                        "type": "string",
                                                        "example": "SD"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pendaftaran-got-talent/perlombaan": {
            "get": {
                "tags": [
                    "Pendaftaran Got Talent"
                ],
                "summary": "Ambil list perlombaan",
                "description": "Mengambil semua data perlombaan yang tersedia untuk pendaftaran Got Talent",
                "operationId": "cff9f8212b0eb729e8f73cd21c02c052",
                "parameters": [
                    {
                        "name": "id_jenjang",
                        "in": "query",
                        "description": "Filter by jenjang pendidikan",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List perlombaan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "jenis_perlombaan": {
                                                        "type": "string",
                                                        "example": "Lomba Baca Puisi"
                                                    },
                                                    "id_jenjang": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "juknis_juklak": {
                                                        "type": "string",
                                                        "example": "juknis_juklak/file.pdf",
                                                        "nullable": true
                                                    },
                                                    "juknis_juklak_url": {
                                                        "type": "string",
                                                        "example": "http://localhost:8000/storage/juknis_juklak/file.pdf",
                                                        "nullable": true
                                                    },
                                                    "thumbnail": {
                                                        "type": "string",
                                                        "example": "thumbnails/image.jpg",
                                                        "nullable": true
                                                    },
                                                    "thumbnail_url": {
                                                        "type": "string",
                                                        "example": "http://localhost:8000/storage/thumbnails/image.jpg",
                                                        "nullable": true
                                                    },
                                                    "jenjang_pendidikan": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "jenjang_pendidikan": {
                                                                "type": "string",
                                                                "example": "SD"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/public/perlombaan": {
            "get": {
                "tags": [
                    "Public API"
                ],
                "summary": "Ambil list perlombaan (Public)",
                "description": "Mengambil semua data perlombaan yang tersedia (Public API)",
                "operationId": "603c0c5e7b74384eed4cf8bbb0cdda27",
                "parameters": [
                    {
                        "name": "id_jenjang",
                        "in": "query",
                        "description": "Filter by jenjang pendidikan",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List perlombaan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "jenis_perlombaan": {
                                                        "type": "string",
                                                        "example": "Lomba Baca Puisi"
                                                    },
                                                    "id_jenjang": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "juknis_juklak": {
                                                        "type": "string",
                                                        "example": "juknis_juklak/file.pdf",
                                                        "nullable": true
                                                    },
                                                    "juknis_juklak_url": {
                                                        "type": "string",
                                                        "example": "http://localhost:8000/storage/juknis_juklak/file.pdf",
                                                        "nullable": true
                                                    },
                                                    "thumbnail": {
                                                        "type": "string",
                                                        "example": "thumbnails/image.jpg",
                                                        "nullable": true
                                                    },
                                                    "thumbnail_url": {
                                                        "type": "string",
                                                        "example": "http://localhost:8000/storage/thumbnails/image.jpg",
                                                        "nullable": true
                                                    },
                                                    "jenjang_pendidikan": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "jenjang_pendidikan": {
                                                                "type": "string",
                                                                "example": "SD"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/pendaftaran-got-talent": {
            "get": {
                "tags": [
                    "Pendaftaran Got Talent"
                ],
                "summary": "Ambil semua data pendaftar Al Amin Got Talent",
                "description": "Mengambil semua data pendaftar Al Amin Got Talent dengan pagination dan filter opsional",
                "operationId": "8f30d02db385a3d803686d45dc13606d",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Nomor halaman untuk pagination",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Jumlah data per halaman",
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "id_jenjang",
                        "in": "query",
                        "description": "Filter by jenjang pendidikan",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Pencarian berdasarkan nama lengkap, nomor register, atau email",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data pendaftar berhasil diambil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PendaftaranGotTalent"
                                                    }
                                                },
                                                "first_page_url": {
                                                    "type": "string",
                                                    "example": "http://localhost:8000/api/pendaftaran-got-talent?page=1"
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "last_page_url": {
                                                    "type": "string",
                                                    "example": "http://localhost:8000/api/pendaftaran-got-talent?page=5"
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "next_page_url": {
                                                    "type": "string",
                                                    "example": "http://localhost:8000/api/pendaftaran-got-talent?page=2",
                                                    "nullable": true
                                                },
                                                "path": {
                                                    "type": "string",
                                                    "example": "http://localhost:8000/api/pendaftaran-got-talent"
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "prev_page_url": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/pendaftaranonline/{no_register}/update-foto": {
            "post": {
                "tags": [
                    "Pendaftaran Online"
                ],
                "summary": "Update foto pendaftaran online",
                "description": "Update foto pendaftaran online berdasarkan nomor registrasi.",
                "operationId": "f2bbc3ea7c456f3989d9740b0dc339ca",
                "parameters": [
                    {
                        "name": "no_register",
                        "in": "path",
                        "description": "Nomor registrasi pendaftar yang akan diperbarui.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "foto"
                                ],
                                "properties": {
                                    "foto": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Foto berhasil diperbarui.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
[...]
